<!-- Story -->
<section class="story-section space-left">
    <h3>Our Story since 2022 <br> Awesomely Organic</h3>
    <div class="story-row flex jc-sb ai-center">
        <div class="story-copy">
            <h4>"You can have all the riches and success in the world, but if you don’t have your health, you have nothing.”</h4>
            <span>-Steven Adler</span>
            <p>It’s a massive cliche, because it’s true. Oh and just so you know, that’s not
                a quote from some vegan, yogi, health guru, it’s from a rock ’n’ roll superstar
                who pioneered the ‘all or nothing’ rock ’n’ roll lifestyle. It’s a massive cliche,
                because it’s true. Oh and just so you know, that’s not a quote from some
                vegan, yogi, health guru, it’s from a rock ’n’ roll superstar who pioneered
                the ‘all or nothing’ rock ’n’ roll lifestyle.</p>
        </div>
        <div class="story-image">
            <img src="assets/images/story-image.jpg" alt="Story Image">
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Story",
        "settings": [
            {
                "type": "textarea",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "inline_richtext",
                "id": "info",
                "label": "Description"
            },
            {
                "type": "textarea",
                "id": "quote",
                "label": "Quote"
            },
            {
                "type": "text",
                "id": "quotee",
                "label": "Quotee"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            }
        ]
    }
{% endschema %}