<!-- Taste -->
<section class="taste-section">
    <div class="marquee-wrap">
        <div class="marquee-content marquee-left">
            <span> {{ section.settings.marquee_text }} </span>
        </div>
    </div>
    <div class="container">
        <div class="taste-options flex jc-sb ai-center">
            {% for block in section.blocks %}
                {% if block.settings.image != blank and block.settings.text != blank %}
                  <div class="single-bavarage">
                    {% render 'responsive-image', image : block.settings.image %}
                    <span>
                      {{ block.settings.text | newline_to_br }}
                    </span>
                  </div>
                {% endif %}
              {% endfor %}
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Taste",
        "settings": [
            {
                "type": "text",
                "id": "marquee_text",
                "label": "Marquee Text"
            }
        ],
        "blocks": [
            {
                "name": "Feature",
                "type": "feature",
                "settings": [
                    {
                        "type": "textarea",
                        "id": "text",
                        "label": "Text"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    }
                ]
            }
        ]
    }
{% endschema %}