    <!-- Mini Banner -->
    <section class="aboutUs-banner">
        <div class="container">
            <div class="flex ai-center space-between about-banner">
                <div class="aboutBanner-copy">
                    <h1>Sustainable access to  <br> delicious kranium & <br> kratom nutrition.</h1>
                    <p>We strive for sustainability in every facet of our business. <br> From our plant-based recipes to our glass bottles, it’s <br>  central to who we are.</p>
                </div>
                <div class="aboutBanner-image">
                    <img src="assets/images/about-banner-image.png" alt="Kranium Drinks Image">
                </div>
            </div>
        </div>
        <div class="crystalImage">
            <img src="assets/images/crystals-bg.png" alt="crystal image">
        </div>
    </section>