    <!-- Future -->
    <section class="story-section future-section space-left">
        <div class="story-row flex jc-sb ai-center">
            <div class="present-copy">
                <span>Future</span>
                <h2>No Booze Beverages</h2>
                <p>We can’t stain-proof you, we can’t weather-proof you, or sound-proof you, but we can Lifeproof you. Juicebrothers is arming you with 100% certified organic antidotes to life’s everyday     obstacles. All organic, all the time. We use the best ingredients and the most efficient methods, like cold press juicing, and pulp products to make the most of every last drop.</p>
                <p>Shortcuts are the ultimate life hack, we’d never get from one end of the week to the other without them. But when it comes to our ingredients, methods and
                    recipes Juicebrothers never take any shortcuts, because we want to guarantee you the absolute best quality and flavor in every bottle and every bite.</p>
            </div>
            <div class="story-image">
                <img src="assets/images/future-images.jpg" alt="Future Booze">
            </div>
        </div>
    </section>