<!-- Present Section -->
<section class="present-section">
    <div class="present-content flex jc-sb ai-center">
        <div class="present-image">
            {%  render 'responsive-image', image: section.settings.image %}             
        </div>
        <div class="present-copy">
            <span>Present</span>
            <h2>No Booze Beverages</h2>
           {{ section.settings.info }}
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Present",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "subheading",
                "label": "Subheading"
            },
            {
                "type": "richtext",
                "id": "info",
                "label": "Description"
            },            
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            }
        ]
    }
{% endschema %}