<!-- Mini Banner -->
<section class="aboutUs-banner">
    <div class="container">
        <div class="flex ai-center space-between about-banner">
            <div class="aboutBanner-copy">                
                {{ page.content }}
            </div>
            <div class="aboutBanner-image">
                {%  render 'responsive-image', image: section.settings.banner_image %}             
            </div>
        </div>
    </div>
    <div class="crystalImage">        
        {%  render 'responsive-image', image: section.settings.background_image %} 
    </div>
</section>
<section class="products-sticky-link">
  <div class="stickyLink">
    <span class="sticky-arrow"><img src="https://cdn.shopify.com/s/files/1/0704/2606/7242/files/go-to-products.svg?v=1675750791" alt="products long arrow icon"></span>
    <a href="#" class="sticky-rounded-text"><img src="https://cdn.shopify.com/s/files/1/0704/2606/7242/files/circlular-text.svg?v=1675751568" alt="Discover Our Products" ></a>
  </div>
</section>
{% schema %}
    {
        "name": "Banner",
        "settings": [
            {
                "type": "image_picker",
                "id": "background_image",
                "label": "Background Image"
            },
            {
                "type": "image_picker",
                "id": "banner_image",
                "label": "Banner Image"
            }
        ]
    }
{% endschema %}