<!-- Blog Post -->
<section class="blogs-listing">
  <div class="container">
    <div class="blog-area full-size">
      <div class="flex jc-sb blog-row">
        <div class="blog-image">
          <img src="assets/images/blog1.jpg" alt="Blog Image">
        </div>
        <div class="blog-copy">
          <div class="blogCopy">
            <span>Dec 23, 2022</span>
            <span class="author">Post by Minos</span>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut feugiat vitae.</h4>
            <p>Produce that is grown out of season has to travel far to get to you. This means that they’re picked when they’re not yet ripe and don’t get the chance to develop proper flavor...</p>
          </div>
          <a href="#">Read More <img src="assets/images/long-arrow-right.svg" alt="arrow icon">
          </a>
        </div>
      </div>
    </div>
    <div class="blog-row flex jc-sb">
      <div class="blogCol-blue flex sb">
        <div class="blogImage">
          <img src="assets/images/blog-image2.jpg" alt="Image">
        </div>
        <div class="blogCopy-wrap">
          <div class="blogCopy">
            <span>Dec 23, 2022</span>
            <span class="author">Post by Minos</span>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut feugiat vitae.</h4>
            <p>Produce that is grown out of season has to travel far to get to you. This means that they’re picked when they’re not yet ripe and don’t get the chance to develop proper flavor...</p>
          </div>
          <a href="#">Read More <img src="assets/images/long-arrow-right.svg" alt="arrow icon">
          </a>
        </div>
      </div>
      <div class="blogCol-pink flex sb">
        <div class="blogCopy-wrap">
          <div class="blogCopy">
            <span>Dec 23, 2022</span>
            <span class="author">Post by Minos</span>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut feugiat vitae.</h4>
            <p>Produce that is grown out of season has to travel far to get to you. This means that they’re picked when they’re not yet ripe and don’t get the chance to develop proper flavor...</p>
          </div>
          <a href="#">Read More <img src="assets/images/long-arrow-right.svg" alt="arrow icon">
          </a>
        </div>
      </div>
    </div>
    <div class="blog-row flex jc-sb">
      <div class="blogCol-blue flex sb">
        <div class="blogImage">
          <img src="assets/images/blog-image3.jpg" alt="Image">
        </div>
        <div class="blogCopy-wrap">
          <div class="blogCopy">
            <span>Dec 23, 2022</span>
            <span class="author">Post by Minos</span>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut feugiat vitae.</h4>
            <p>Produce that is grown out of season has to travel far to get to you. This means that they’re picked when they’re not yet ripe and don’t get the chance to develop proper flavor...</p>
          </div>
          <a href="#">Read More <img src="assets/images/long-arrow-right.svg" alt="arrow icon">
          </a>
        </div>
      </div>
      <div class="blogCol-pink flex sb">
        <div class="blogCopy-wrap">
          <div class="blogCopy">
            <span>Dec 23, 2022</span>
            <span class="author">Post by Minos</span>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut feugiat vitae.</h4>
            <p>Produce that is grown out of season has to travel far to get to you. This means that they’re picked when they’re not yet ripe and don’t get the chance to develop proper flavor...</p>
          </div>
          <a href="#">Read More <img src="assets/images/long-arrow-right.svg" alt="arrow icon">
          </a>
        </div>
      </div>
    </div>
    <div class="blog-row flex jc-sb">
      <div class="blogCol-blue flex sb">
        <div class="blogImage">
          <img src="assets/images/blog-4.jpg" alt="Image">
        </div>
        <div class="blogCopy-wrap">
          <div class="blogCopy">
            <span>Dec 23, 2022</span>
            <span class="author">Post by Minos</span>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut feugiat vitae.</h4>
            <p>Produce that is grown out of season has to travel far to get to you. This means that they’re picked when they’re not yet ripe and don’t get the chance to develop proper flavor...</p>
          </div>
          <a href="#">Read More <img src="assets/images/long-arrow-right.svg" alt="arrow icon">
          </a>
        </div>
      </div>
      <div class="blogCol-pink flex sb">
        <div class="blogCopy-wrap">
          <div class="blogCopy">
            <span>Dec 23, 2022</span>
            <span class="author">Post by Minos</span>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut feugiat vitae.</h4>
            <p>Produce that is grown out of season has to travel far to get to you. This means that they’re picked when they’re not yet ripe and don’t get the chance to develop proper flavor...</p>
          </div>
          <a href="#">Read More <img src="assets/images/long-arrow-right.svg" alt="arrow icon">
          </a>
        </div>
      </div>
    </div>
    <div class="blog-row flex jc-sb">
      <div class="blogCol-blue flex sb">
        <div class="blogImage">
          <img src="assets/images/blog-image5.jpg" alt="Image">
        </div>
        <div class="blogCopy-wrap">
          <div class="blogCopy">
            <span>Dec 23, 2022</span>
            <span class="author">Post by Minos</span>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut feugiat vitae.</h4>
            <p>Produce that is grown out of season has to travel far to get to you. This means that they’re picked when they’re not yet ripe and don’t get the chance to develop proper flavor...</p>
          </div>
          <a href="#">Read More <img src="assets/images/long-arrow-right.svg" alt="arrow icon">
          </a>
        </div>
      </div>
      <div class="blogCol-pink flex sb">
        <div class="blogCopy-wrap">
          <div class="blogCopy">
            <span>Dec 23, 2022</span>
            <span class="author">Post by Minos</span>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut feugiat vitae.</h4>
            <p>Produce that is grown out of season has to travel far to get to you. This means that they’re picked when they’re not yet ripe and don’t get the chance to develop proper flavor...</p>
          </div>
          <a href="#">Read More <img src="assets/images/long-arrow-right.svg" alt="arrow icon">
          </a>
        </div>
      </div>
    </div>
    <div class="blog-navigation">
      <a href="#" class="prev-post"><img src="assets/images/angle-left.svg" alt="angle left icon"></a>
      <ul class="pages">
        <li>
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>
          <a href="#">3</a>
        </li>
        <li>
          <a href="#">4</a>
        </li>
      </ul>
      <a href="#" class="next-post"><img src="assets/images/angle-right.svg" alt="angle right icon"></a>
    </div>
  </div>
</section>