<!-- Footer -->
<footer>
  <div class="newsletter-wrap">
    <div class="container">
      <div class="newsletter-row flex jc-sb ai-center">
        <div class="newsletter-text">
          <h3>Never miss a drop</h3>
          <span>Get a 10% discount on your next order when <br> you sign up to our newsletter.</span>
        </div>
        <div class="newsletter-form">
          <form action="">
            <div class="email-field">
              <input type="email" placeholder="Enter your email">
              <button type="submit">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-wrap">
    <div class="container">
      <div class="footer-row flex jc-sb">
        <div class="footer-leftCol">
          <h6>About No booze beverages</h6>
          <p>No booze beverages was developed to fill the void where great <br> taste meets function. With bold flavors to help you refresh. We’re <br> confident you’ll love it as much as we do.</p>
          <div class="ft-social">
            <a href="#" target="_blank"><img src="assets/images/facebook-icon.svg" alt="facebook"></a>
            <a href="#" target="_blank"><img src="assets/images/instagram-icon.svg" alt="instagram"></a>
            <a href="#" target="_blank"><img src="assets/images/tiktok-icon.svg" alt="tiktok"></a>
            <a href="#" target="_blank"><img src="assets/images/pinterest-icon.svg" alt="pinterest"></a>
          </div>
        </div>
        <div class="ft-linksCol">
          <h6>Flavors</h6>
          <ul>
            <li>Watermelon Lemonade</li>
            <li>Tropical</li>
            <li>Berry</li>
            <li>Sour Apple</li>
            <li>Horchata</li>
            <li>Horchata</li>
            <li>Horchata</li>
          </ul>
        </div>
        <div class="ft-linksCol">
          <h6>About Us</h6>
          <ul>
            <li>About No Booze Beverages</li>
            <li>What Kranium is?</li>
            <li>What Kratom is?</li>
            <li>What Krakava is?</li>
            <li>Blogs</li>
            <li>FAQ</li>
          </ul>
        </div>
        <div class="ft-linksCol">
          <h6>Contact Us</h6>
          <span>30 Road, Arsenal, Victoria 5154</span>
          <a href="tel:(01) 123 123 123" class="ft-phone">(01) 123 123 123</a>
          <a href="mailto:nobooze@gmail.com" class="ft-email">nobooze@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
  <div class="ft-copyright">
    <span>© 2022 No Booze Beverages</span>
  </div>
</footer>