<header>
  <div class="tagline">
    <div class="container">
      <span><img src="assets/images/shoping-bag.svg" alt="shop icon">Free Shipping on All Orders $50+</span>
    </div>
  </div>
  <div class="header-wrap">
    <div class="container">
      <div class="header-row flex jc-sb ai-center">
        <div class="site-logo">
          <a href="#"><img src="assets/images/logo.svg" alt="No Booze Beverages"></a>
        </div>
        <div class="site-menu">
          <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Shop</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Stores</a></li>
              <li><a href="#">Subscription</a></li>
            </ul>
          </nav>
        </div>
        <div class="header-rightBar flex ai-center">
          <span class="searchBtn"><img src="assets/images/search-icon.svg" alt="search icon"></span>
          <span class="userBtn"><img src="assets/images/user-icon.svg" alt="user icon"></span>
          <a href="#" class="cartBtn"><img src="assets/images/cart-icon.svg" alt="cart icon">my cart(0)</a>
        </div>
      </div>
    </div>
  </div>
</header>