{{ 'section-faq-content.css' | asset_url | stylesheet_tag }}



<h2>
  Vertical tabs with border
</h2>
<div class="vertical-tabs">
  <ul class="tabs vertical" data-tab="">
    <li class="tab-title active">
      <a
        href="#panela1"
        aria-selected="true"
        tabindex="0">Tab 1</a>
    </li>
    <li class="tab-title">
      <a
        href="#panelb1"
        aria-selected="false"
        tabindex="-1">Tab 2</a>
    </li>
    <li class="tab-title">
      <a
        href="#panelc1"
        aria-selected="false"
        tabindex="-1">Tab 3</a>
    </li>
    <li class="tab-title">
      <a
        href="#paneld1"
        aria-selected="false"
        tabindex="-1">Tab 4</a>
    </li>
  </ul>
  <div class="tabs-content">
    <div
      class="content active"
      id="panela1"
      aria-hidden="false">
      <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.
      </p>
    </div>
    <div
      class="content"
      id="panelb1"
      aria-hidden="true"
      tabindex="-1">
      <p>This is the second panel of the basic tab example. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, nesciunt. Aperiam sed expedita quo. Ipsam iusto sapiente animi? Voluptatem ut facilis maxime minima. Aperiam, at non sequi molestias tempora. Enim.</p>
    </div>
    <div
      class="content"
      id="panelc1"
      aria-hidden="true"
      tabindex="-1">
      <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
    </div>
    <div
      class="content"
      id="paneld1"
      aria-hidden="true"
      tabindex="-1">
      <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
    </div>
  </div>
</div>