<div class="wrapper">
  <header>
    <h1>Tab switch</h1>
  </header>
  <nav>
    <ul>
      <li class="gnav1">Tab1</li>
      <li class="gnav2">Tab2</li>
      <li class="gnav3">Tab3</li>
      <li class="gnav4">Tab4</li>
    </ul>
  </nav>
  <div class="contents" id="contents">
    <div class="container">
      <article id="page1" class="show top">
        <section>
          <h1>Tab1 Title</h1>
          <p>This is tab one.</p>
        </section>
      </article>
      <article id="page2">
        <section>
          <h1>Tab2 Title</h1>
          <p>This is tab two.</p>
        </section>
      </article>
      <article id="page3">
        <section>
          <h1>Tab3 Title</h1>
          <p>This is tab three.</p>
        </section>
      </article>
      <article id="page4">
        <section>
          <h1>Tab4 Title</h1>
          <p>This is tab four.</p>
        </section>
      </article>
      <article id="page5">
        <section>
          <h1>Tab5 Title</h1>
          <p>This is tab five</p>
        </section>
      </article>
    </div>
  </div>
</div>
{{ 'section-faq-content.css' | asset_url | stylesheet_tag }}

<script defer src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script>
  // Acc
  $(document).on("click", ".naccs .menu div", function() {
    var numberIndex = $(this).index();

    if (!$(this).is("active")) {
      $(".naccs .menu div").removeClass("active");
      $(".naccs ul li").removeClass("active");

      $(this).addClass("active");
      $(".naccs ul").find("li:eq(" + numberIndex + ")").addClass("active");

      var listItemHeight = $(".naccs ul").find("li:eq(" + numberIndex + ")").innerHeight();
      $(".naccs ul").height(listItemHeight + "px");
    }
  });
</script>