<!-- Kranium Products -->
<section
  class="products-section flavor-products">
  <div
    class="container">
    <div
      class="kranium-content">
      <div
        class="prodHead flex jc-sb ai-center">
        <h2>Kranium Products</h2>
        <span>
          <span>Soda</span>
          Seltzer Tea</span>
      </div>
      <div
        class="products-slider owl-carousel">
        <div
          class="item">
          <div
            class="single-product">
            <img
              src="assets/images/horchata.png"
              alt="Horhcata can">
            <h3>Horchata</h3>
            <div
              class="size-price">
              <span>420 ML</span>
              <span>$18.45</span>
            </div>
            <div
              class="product-footer">
              <a
                href="#">More Info</a>
              <a
                href="#"
                class="addCart">Add To Cart</a>
            </div>
          </div>
        </div>
        <div
          class="item">
          <div
            class="single-product">
            <img
              src="assets/images/horchata.png"
              alt="Horhcata can">
            <h3>Watermelon</h3>
            <div
              class="size-price">
              <span>420 ML</span>
              <span>$18.45</span>
            </div>
            <div
              class="product-footer">
              <a
                href="#">More Info</a>
              <a
                href="#"
                class="addCart">Add To Cart</a>
            </div>
          </div>
        </div>
        <div
          class="item">
          <div
            class="single-product">
            <img
              src="assets/images/horchata.png"
              alt="Horhcata can">
            <h3>Tropical</h3>
            <div
              class="size-price">
              <span>420 ML</span>
              <span>$18.45</span>
            </div>
            <div
              class="product-footer">
              <a
                href="#">More Info</a>
              <a
                href="#"
                class="addCart">Add To Cart</a>
            </div>
          </div>
        </div>
        <div
          class="item">
          <div
            class="single-product">
            <img
              src="assets/images/horchata.png"
              alt="Horhcata can">
            <h3>Tropical</h3>
            <div
              class="size-price">
              <span>420 ML</span>
              <span>$18.45</span>
            </div>
            <div
              class="product-footer">
              <a
                href="#">More Info</a>
              <a
                href="#"
                class="addCart">Add To Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>