<!-- Shop Now -->
<section class="shop-section">
  <div class="container">
    <div class="flex jc-sb ai-center">
      <div class="shopImage">
        {% if section.settings.image != blank %}
          <img
            src="{{ section.settings.image | img_url : "master"  }}"
            alt="{{ section.settings.image.alt  }}"
            loading="lazy">
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        {% endif %}
      </div>
      <div class="shop-content">
        {%- for block in section.blocks -%}
          {%- case block.type %}
            {% when 'heading' %}
            <h2>
              {{ block.settings.heading | newline_to_br }}
            </h2>
            {% when 'text' %}
            <p>We strive for sustainability in every facet of our <br> business. From our plant-based recipes to our <br> glass bottles, it’s central to who we are.</p>
            <ul>
              <li>Highly effective cleaning out your body</li>
              <li>Reset your system</li>
              <li>100% certified organic & cold pressed</li>
            </ul>
            {% when 'button' %}
            <a href="#" class="siteBtn">Shop Now</a>
          {% endcase %}
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Featured Product",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "Heading",
        "limit": 1,
        "settings": [
          {
            "type": "textarea",
            "id": "heading",
            "label": "Heading",
            "default": "Carefully curated kits offering a healthy serving of savings!"
          }
        ]
      }, {
        "type": "text",
        "name": "Text",
        "limit": 1,
        "settings": [
          {
            "type": "inline_richtext",
            "id": "info",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "feature_1",
            "label": "Feature"
          },
          {
            "type": "text",
            "id": "feature_2",
            "label": "Feature"
          },
          {
            "type": "text",
            "id": "feature_3",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "feature_4",
            "label": "Feature"
          }, {
            "type": "text",
            "id": "feature_5",
            "label": "Feature"
          }
        ]
      }, {
        "type": "button",
        "name": "Button",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text"
          }, {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured Product"
      }
    ]
  }
{% endschema %}