<!-- Pair Marquee -->
<section class="pair-marquee">
  <div class="marquee-wrap">
    <div class="marquee-content marquee-left">
      <span>Drinks that taste as good as they make you feel</span>
    </div>
  </div>
  <div class="marquee-wrap">
    <div class="marquee-content marquee-right">
      <span>Drinks that taste as good as they make you feel</span>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Marquee Text",
    "settings": [],
    "blocks": [
      {
        "name": "text",
        "type": "text",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Marquee Text"
      }
    ]
  }
{% endschema %}