<section class="our-bavareges">
  <div class="container">
    <div class="bavereges-row flex">
      <div class="bavareges-image">
        <img src="assets/images/bavareges-image.png" alt="Bavarage Image">
      </div>
      <div class="bavareges-text">
        <div class="bavarages-text">
          <img src="assets/images/pluc-icon.svg" alt="Plus Icon">
          <h3>Our Beverages are Kratom & Kava</h3>
        </div>
        <div class="bavarages-list">
          <div class="single-bavarage">
            <img src="assets/images/glass-bottles.svg" alt="Bottled in Glass">
            <span>Bottled <br> in Glass</span>
          </div>
          <div class="single-bavarage">
            <img src="assets/images/leaves.svg" alt="100% Plant-Based">
            <span>100% <br> Plant-Based</span>
          </div>
          <div class="single-bavarage">
            <img src="assets/images/badge.svg" alt="No Addictives No Nonsense">
            <span>No Addictives <br> No Nonsense</span>
          </div>
          <div class="single-bavarage">
            <img src="assets/images/usda-organic.svg" alt="Certified Organic">
            <span>Certified <br> Organic</span>
          </div>
          <div class="single-bavarage">
            <img src="assets/images/sugar-cubes.svg" alt="No Added Sugar">
            <span>No Added <br> Sugar</span>
          </div>
          <div class="single-bavarage">
            <img src="assets/images/corporation-icon.svg" alt="Business Done Better">
            <span>Business <br> Done Better</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Product Features",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "Heading",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          }
        ]
      }, {
        "name": "Feature",
        "type": "feature",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Features"
      }
    ]
  }
{% endschema %}