<!-- Pair Marquee -->
<section class="pair-marquee">
  {% for block in section.blocks %}
    {% assign mod = forloop.index | modulo: 2 %}
    <div class="marquee-wrap">
      <div class="marquee-content {{ forloop.index }} {% if mod == 0 %} marquee-right {%  else %} marquee-left {% endif %}">
        <span>
          {{ block.settings.text }}
        </span>
      </div>
    </div>
  {% endfor %}
</section>
</section>

{% schema %}
  {
    "name": "Marquee Text",
    "settings": [],
    "blocks": [
      {
        "name": "text",
        "type": "text",
        "limit": 2,
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Marquee Text"
      }
    ]
  }
{% endschema %}