<!-- Page Banner -->
<section class="faq-banner subscription">
    <div class="container">
        <div class="faq-content">
            <h1> {{ page.title }} </h1>
            <p> {{ page.content }} </p>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Page Banner",
        "settings": [],
        "presets": [
            {
                "name": "Page Banner"
            }
        ]
    }
{% endschema %}