<section class="stores">
  <select name="stores" id="stores">
    {% for block in section.blocks %}
      <option value="{{ block.settings.state_name }}">
        {{ block.settings.state_name }}
      </option>
    {% endfor %}
  </select>
</section>

{% schema %}
  {
    "name": "store",
    "settings": [],
    "blocks": [
      {
        "name": "store",
        "type": "store",
        "settings": [
          {
            "type": "text",
            "id": "state_name",
            "label": "State Name"
          },
          {
            "type": "text",
            "id": "store_name",
            "label": "Store Name"
          },
          {
            "type": "image_picker",
            "id": "store_image",
            "label": "Store Image"
          },
          {
            "type": "textarea",
            "id": "store_address",
            "label": "Store Address"
          }, {
            "type": "text",
            "id": "store_opens",
            "label": "Store Opens"
          }, {
            "type": "text",
            "id": "store_closes",
            "label": "Store Closes"
          }, {
            "type": "text",
            "id": "store_working",
            "label": "Store Working Days"
          }
        ]
      }
    ]
  }
{% endschema %}