.modal-content {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0;
    padding: 30px;
}

.modal-header{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.modal-header img{
  width : 150px;
}

.modal-body {
    width: 350px;
    margin: 0 auto;
    padding: 50px 0 0;
}

.modal-body.notus {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.state-wrapper {
    display: flex;
    flex-direction: column;
}

.state-wrapper label {
    font-size: 14px;
    font-family: 'Maison Neue Book';
    font-weight: 800;
    color: #323C45;
}

#country-state {
    height: 40px;
    padding: 10px;
    background: transparent url(droparrow.svg) center right 10px no-repeat;
    border: 1px solid #A43772;
    font-size: 14px;
    color: #323C45;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}
#country-state:focus-visible {
    outline: none;
    box-shadow: none;
}

.age-wrapper label {
    font-size: 14px;
    margin: 0;
    line-height: 0;
    color: #323C45;
}

.age-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;  
}

.age-wrapper  input#age {
    height: 17px;
    width: 17px;
    accent-color: #A43772;
}

.modal-footer-wrapper button {
  border: none;
  width: 165px;
  }

  #age-err {
    font-size: 14px;
    margin-top: 5px;
    color: #a43772;
}

.modal-footer-wrapper button:first-child {
    background: no-repeat;
    border: 1px solid #a43772;
    color: #a43772;
    font-size: 14px;
}  

.modal-footer-wrapper {
    display: flex;
    gap: 15px;    
    margin-top: 30px
}

.modal-footer {
    margin-top: 50px;
    justify-content: center;
    padding: 0;
}

.modal-footer p {
    color: #495057;
    font-family: 'Maison Neue Book';
    font-weight: 500;
}


body.gradient.modal-open {
    position: relative;
}

.countyMessage{
    color:#A43772;
    font-size: 25px;
    text-align: center;
}

body.gradient.modal-open::before {
    content: '';
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.9);
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal-content {
    min-height: 450px;
}


@media (min-width: 576px){
.modal-dialog {
    max-width: 700px;    
}

}