.modal-content {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0;
    padding: 30px;
}

.modal-header{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 50px;
}

.modal-header img{
  width : 150px;
}


.modal-content::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,.8);
}


.modal-body {
    width: 350px;
    margin: 0 auto;
    padding: 0;
}

.state-wrapper {
    display: flex;
    flex-direction: column;
}

.state-wrapper label {
    font-size: 14px;
    font-family: 'Maison Neue Book';
    font-weight: 800;
}

#country-state {
    height: 40px;
    padding: 10px;
    background: transparent;
    border: 1px solid #A43772;
    font-size: 14px;
    color: #323C45;
}

.age-wrapper label {
    font-size: 14px;
    margin: 0;
    line-height: 0;
}

.age-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;  
}

.age-wrapper  input#age {
    height: 17px;
    width: 17px;
    accent-color: #A43772;
}

.modal-footer-wrapper button {
  border: none;
  width: 165px;
  }

  #age-err {
    font-size: 14px;
    margin-top: 5px;
    color: #a43772;
}

.modal-footer-wrapper button:first-child {
    background: no-repeat;
    border: 1px solid #a43772;
    color: #a43772;
    font-size: 14px;
}  

.modal-footer-wrapper {
    display: flex;
    gap: 15px;    
    margin-top: 30px
}

.modal-footer {
    margin-top: 50px;
    justify-content: center;
    padding: 0;
}

.modal-footer p {
    color: #495057;
    font-family: 'Maison Neue Book';
    font-weight: 500;
}

@media (min-width: 576px){
.modal-dialog {
    max-width: 700px;    
}

}