@media screen and (min-width: 1440px) {
  .container {
    max-width: 1370px;
  }
}

@media screen and (min-width: 1279px) and (max-width: 1439px) {
  .container {
    max-width: 1240px;
  }
}
@media screen and (max-width: 1439px) {
  h2 {
    font-size: 30px;
  }
  .product-desc-wrap .accordion_head p {
    font-size: 30px;
  }
  .product-desc-wrap .tab_outer {
      margin-bottom: 30px;
  }
  .marquee-wrap span {
      font-size: 60px;
  }
  .find-section {
    padding-bottom: 100px;
  }
  .single-drink img {
    max-width: 340px;
  }
  .drink-options {
      top: 40px;
  }
  .drink-options .owl-nav {
      bottom: 20px;
  }
  .drink-options .owl-dots {
      bottom: 18px;
  }
}

@media screen and (max-width: 1280px) {
  .subscription-image {
    max-width: 550px;
    top: -180px;
  }
  .subscription-image.img2 {
    max-width: 250px;
    left: 27%;
    top: -135px;
  }
}

@media screen and (max-width: 1199px) {
  .site-logo img {
    max-width: 170px;
  }
  .site-menu li {
      margin-right: 17px;
  }
  .searchBtn {
      margin-right: 6px;
  }
  .userBtn {
      margin-right: 6px;
  }
  .find-taste {
    max-width: 300px;
    padding-top: 80px;
  }
  h2 {
      font-size: 27px;
  }
  h4 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  .single-drink img {
      max-width: 300px;
  }
  .drink-options {
      top: 40px;
  }
  .shop-section {
      margin: 40px 0;
  }
  .product-desc-wrap .accordion_head p {
    font-size: 25px;
  }
  .marquee-wrap span {
    font-size: 50px;
  }
  .bavereges-row.flex {
      align-items: center;
  }
  .subscription-image {
      max-width: 435px;
      top: -50px;
  }
  .subscription-content {
      max-width: 450px;
  }
  .subscription-image.img2 {
      left: 22%;
      top: 20px;
  }
  .subscription-section {
      padding-bottom: 60px;
      margin-top: 80px;
  }
}

@media screen and (max-width: 991px) {
   .site-logo img {
      max-width: 150px;
   }
  .drink-options {
      right: 0;
      justify-content: flex-end !important;
      margin-top: -170px;
  }
  .drink-options .owl-item {
    justify-content: end;
  }
  .single-drink {
    position: relative;
    left: -50px;
  }
  .single-drink {
    position: relative;
    left: -50px;
  }
  .brands-section .marquee-wrap {
      max-width: 100%;
      margin-left: 20px;
  }
  .product-desc-wrap .accordion_head p {
    font-size: 22px;
    line-height: 1.6;
}
.product-desc-wrap .tab_outer {
    margin-bottom: 20px;
}
.bavareges-text {
    width: 50%;
}
.bavareges-image {
    width: 48%;
}
.bavareges-text img {
    max-width: 28px;
}
.single-bavarage span {
    font-size: 14px;
}
.single-bavarage {
    margin-top: 30px;
}
.our-bavareges {
    padding-top: 0;
}
.subscription-image {
    max-width: 340px;
    top: 0;
}
.subscription-content {
    max-width: 300px;
}
.subscription-image.img2 {
    left: 17%;
    top: 50px;
}
.marquee-wrap span {
    font-size: 42px;
}
.subscription-content p {
    font-size: 16px;
    margin-bottom: 15px;
}
.newsletter-form {
    width: 100%;
}
.email-field {
    width: 100%;
}
.contact-form {
    margin-top: 20px;
}
.products-section {
    padding-bottom: 0;
}
.singleBrand {
    min-width: 150px;
    max-width: 150px;
}
.site-menu {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #A43772;
    z-index: 100;
    padding: 10px 0;
    display: none;
}
.site-menu li {
    display: block;
    margin: 10px 0;
}
.site-menu li a {
    color: #fff;
    display: block;
    padding: 0 40px;
}
  .subscription-section {padding: 30px 0 60px;}
.subscription-section .marquee-wrap {
    padding-bottom: 20px;
}
}

@media screen and (max-width: 767px) {
  .footer-leftCol {
    width: 100%;
    margin-bottom: 30px;
  }
  .ft-linksCol {
      width: 48%;
      margin-top: 20px;
  }
  .ft-linksCol>span {
      margin-bottom: 10px;
  }
  .footer-wrap h6 {
      margin-bottom: 14px;
  }
  .ft-linksCol a {
      font-size: 14px;
  }
  .footer-wrap {
      padding-top: 40px;
  }
}





