@media screen and (min-width: 1440px) {
  .container {
    max-width: 1370px;
  }
}

@media screen and (min-width: 1279px) and (max-width: 1439px) {
  .container {
    max-width: 1240px;
  }
}
@media screen and (max-width: 1439px) {
  h2 {
    font-size: 30px;
  }
  .product-desc-wrap .accordion_head p {
    font-size: 30px;
  }
  .product-desc-wrap .tab_outer {
      margin-bottom: 30px;
  }
  .marquee-wrap span {
      font-size: 60px;
  }
  .find-section {
    padding-bottom: 100px;
  }
  .single-drink img {
    max-width: 340px;
  }
  .drink-options {
      top: 40px;
  }
  .drink-options .owl-nav {
      bottom: 20px;
  }
  .drink-options .owl-dots {
      bottom: 18px;
  }
}

@media screen and (max-width: 1280px) {
  .subscription-image {
    max-width: 550px;
    top: -180px;
  }
  .subscription-image.img2 {
    max-width: 250px;
    left: 27%;
    top: -135px;
  }
}

@media screen and (max-width: 1199px) {
  .site-logo img {
    max-width: 170px;
  }
  .site-menu li {
      margin-right: 17px;
  }
  .searchBtn {
      margin-right: 6px;
  }
  .userBtn {
      margin-right: 6px;
  }
  .find-taste {
    max-width: 300px;
    padding-top: 80px;
  }
  h2 {
      font-size: 27px;
  }
  .single-drink img {
      max-width: 300px;
  }
  .drink-options {
      top: 40px;
  }
  .shop-section {
      margin: 40px 0;
  }
  .product-desc-wrap .accordion_head p {
    font-size: 25px;
  }
  .marquee-wrap span {
    font-size: 50px;
  }
  .bavereges-row.flex {
      align-items: center;
  }
  .subscription-image {
      max-width: 435px;
      top: -50px;
  }
  .subscription-content {
      max-width: 450px;
  }
  .subscription-image.img2 {
      left: 22%;
      top: 20px;
  }
  .subscription-section {
      padding-bottom: 60px;
      margin-top: 80px;
  }
}

@media screen and (max-width: 991px) {
   .site-logo img {
      max-width: 150px;
   }
  .drink-options {
      right: 50px;
      justify-content: flex-end !important;
      margin-top: -170px;
  }
  .drink-options .owl-item {
    justify-content: end;
  }
}






