@media screen and (min-width: 1440px) {
  .container {
    max-width: 1370px;
  }
}

@media screen and (min-width: 1279px) and (max-width: 1439px) {
  .container {
    max-width: 1240px;
  }
}

@media screen and (max-width: 1439px) {
  h2 {
    font-size: 30px;
  }
  .product-desc-wrap .accordion_head p {
    font-size: 30px;
  }
  .product-desc-wrap .tab_outer {
      margin-bottom: 30px;
  }
  .marquee-wrap span {
      font-size: 60px;
  }
  .find-section {
    padding-bottom: 100px;
  }
  .single-drink img {
    max-width: 340px;
  }
  .drink-options {
      top: 40px;
  }
  .drink-options .owl-nav {
      bottom: 20px;
  }
  .drink-options .owl-dots {
      bottom: 18px;
  }
}

@media screen and (max-width: 1280px) {
  .subscription-image {
    max-width: 550px;
    top: -180px;
  }
  .subscription-image.img2 {
    max-width: 250px;
    left: 27%;
    top: -135px;
  }
}

@media screen and (max-width: 1199px) {
  .site-logo img {
    max-width: 170px;
  }
  .site-menu li {
      margin-right: 17px;
  }
  .searchBtn {
      margin-right: 6px;
  }
  .userBtn {
      margin-right: 6px;
  }
  .find-taste {
    max-width: 300px;
    padding-top: 80px;
  }
  h2 {
      font-size: 27px;
  }
  h4 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  .single-drink img {
      max-width: 300px;
  }
  .drink-options {
      top: 40px;
  }
  .shop-section {
      margin: 40px 0;
  }
  .product-desc-wrap .accordion_head p {
    font-size: 25px;
  }
  .marquee-wrap span {
    font-size: 50px;
  }
  .bavereges-row.flex {
      align-items: center;
  }
  .subscription-image {
      max-width: 435px;
      top: -50px;
  }
  .subscription-content {
      max-width: 450px;
  }
  .subscription-image.img2 {
      left: 22%;
      top: 20px;
  }
  .subscription-section {
      padding-bottom: 60px;
      margin-top: 80px;
  }
  .shop-content h2 br {
    display: none;
  }
  .contactPage-section {
    padding: 65px 0;
  }
  .contact-form {
      margin-top: 35px;
  }
  .contact-social {
      margin-top: 25px;
  }
  .faq-banner {
    padding: 170px 0 70px;
  }
  .aboutBanner-copy p br {
    display: none;
  }
  .aboutUs-banner {
    min-height: 700px;
    overflow: hidden;
    position: relative;
  }
  .present-copy span {
    font-size: 30px;
  }
  .present-copy p {
      font-size: 16px;
  }
  .present-copy h2 {
      margin-bottom: 20px;
  }
  .story-section.future-section {
    margin-bottom: 0;
  }
  .flavor-tabs-header a {
    font-size: 27px;
  }
  .flavour-section {
      padding: 45px 0;
  }
  .slider-counter {
      margin-left: 20px;
  }
  .newsCopy h1 {
    font-size: 40px;
  }
  .blog-headings {
      margin-top: 70px;
  }
  .pagination-wrapper {
      padding: 30px 0;
      margin-top: 0;
  }
  .pagination-wrapper {
    padding: 30px 0;
    margin-top: 0;
  }
  .blogCopy h4 {
      font-size: 20px;
      margin-bottom: 12px;
  }
  .navigation-wrap a h4 {
    font-size: 15px;
  }
  .navPost-desc span {
      font-size: 13px;
  }
  .navigation-wrap a>span {
      width: 55px;
      height: 50px;
  }
  .navPost-desc {
      width: calc(100% - 55px);
      padding-left: 12px;
  }
  .next-post .navPost-desc {
      padding-right: 12px;
  }
  .article-image-wrap>svg, .article-image-wrap>img {
      height: 60px;
      width: 60px;
  }
  .cont-inner h3 {
      font-size: 18px;
  }
  .comment-content p {
      font-size: 16px;
  }
  .article-content-wrap {
    padding: 20px;
  }
  form#comment_form .article-template__comment-fields {
    margin-bottom: 10px;
  }
  form#comment_form .siteBtn {
      margin-top: 15px;
  }
  .blog-description {
    margin-bottom: 70px;
  }
  .blog-detail-banner {
    padding-top: 50px;
  }
  .detailCopy h4 {
    font-size: 19px;
  }
  .detailCopy span {
      font-size: 14px;
  }
  .login-wrapper {
    height: auto;
  }
  .login-form-wrap {
      padding: 60px 0;
  }
  form#customer_login,
  form#create_customer {
      max-width: 420px;
  }
  .faq-sidebar {
    width: 240px;
  }
  .faq-tab-content {
      width: calc(100% - 270px);
  }
  .faq-list .accordion_head {
      padding: 15px 20px;
  }
  .faq-list .accordion_body {
    padding: 0 15px 15px 20px;
  }
  .faq-section {
    padding: 45px 0;
  }
  .faq-content h1 {
    font-size: 36px;
  }
  .plans-section {
      padding: 110px 0 40px;
  }
  .single-plan {
      padding: 0 20px 20px;
  }
  .plan-prices h3 {
      font-size: 24px;
  }
  .plan-prices {
      padding: 25px 0 10px;
  }
  .plan-prices h4 {
      font-size: 18px;
      margin: 7px 0;
  }
  .plan-features li {
      padding-left: 0;
      margin-bottom: 6px;
  }
  .plan-features {
      padding: 20px 0 20px;
  }
  .subsBtn a {
      padding: 12px;
  }
  input#Quantity-template--17556679786794__main {
    font-size: 20px;
    padding: 3px 0;
  }
  .accordion .summary__title h2.h4 {
      font-size: 16px;
  }
  .accordion__content {
      font-size: 14px;
  }
  .productSlider-detail p {
      font-size: 14px;
  }
  .single-bavarage span {
      font-size: 14px;
  }
  .product__title h1 {
    font-size: 22px;
  }
  .product__info-container .price__container span {
      font-size: 22px;
  }
  .spr-header-title {
    font-size: 22px;
  }
  section.products-section.flavor-products.products-more {
    padding-bottom: 0;
  }
  .product__info-container .price__container {
    margin-left: 0;
  }
  .grid__item.product__media-wrapper.productSlider-col {
    width: 300px !important;
  }
  .product__info-wrapper.grid__item.productSlider-detail {
      width: calc(100% - 330px) !important;
  }
  .cans-image img {
    max-width: 100%;
  }
  .cans-section {
      padding: 40px 0 20px;
  }
  .cans-image {
    width: 48%;
  }
  .cans-copy {
      width: 48%;
      max-width: 100%;
  }
}

@media screen and (max-width: 991px) {
   .site-logo img {
      max-width: 150px;
   }
  .drink-options {
      right: 0;
      justify-content: flex-end !important;
      margin-top: -170px;
  }
  .drink-options .owl-item {
    justify-content: end;
  }
  .single-drink {
    position: relative;
    left: -50px;
  }
  .single-drink {
    position: relative;
    left: -50px;
  }
  .brands-section .marquee-wrap {
      max-width: 100%;
      margin-left: 20px;
  }
  .product-desc-wrap .accordion_head p {
    font-size: 22px;
    line-height: 1.6;
  }
  .product-desc-wrap .tab_outer {
      margin-bottom: 20px;
  }
  .bavareges-text {
      width: 50%;
  }
  .bavareges-image {
      width: 48%;
  }
  .bavareges-text img {
      max-width: 28px;
  }
  .single-bavarage span {
      font-size: 14px;
  }
  .single-bavarage {
      margin-top: 30px;
  }
  .our-bavareges {
      padding-top: 0;
  }
  .subscription-image {
      max-width: 340px;
      top: 0;
  }
  .subscription-content {
      max-width: 300px;
  }
  .subscription-image.img2 {
      left: 17%;
      top: 50px;
  }
  .marquee-wrap span {
      font-size: 42px;
  }
  .subscription-content p {
      font-size: 16px;
      margin-bottom: 15px;
  }
  .newsletter-form {
      width: 100%;
  }
  .email-field {
      width: 100%;
  }
  .contact-form {
      margin-top: 20px;
  }
  .products-section {
      padding-bottom: 0;
  }
  .singleBrand {
      min-width: 150px;
      max-width: 150px;
  }
  .site-menu {
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background: #A43772;
      z-index: 100;
      padding: 10px 0;
      display: none;
  }
  .site-menu li {
      display: block;
      margin: 10px 0;
  }
  .site-menu li a {
      color: #fff;
      display: block;
      padding: 0 40px;
  }
  .subscription-section {padding: 30px 0 60px;}
  .subscription-section .marquee-wrap {
      padding-bottom: 20px;
  }
  .menu-toggler {
    display: block;
  }
    .contact-col h2 {
      font-size: 26px;
  }
  .contact-col p {
      font-size: 16px;
  }
    .faq-content h1 {
      font-size: 38px;
    }
  .contact-social h3 {
      font-size: 26px;
      margin-bottom: 15px;
  }
  .story-copy {
      width: 100%;
  }
  .story-image {
      width: 100%;
      margin-top: 30px;
  }
  .story-section.space-left {
      padding: 0 30px !important;
  }
  .story-copy span {
      font-size: 22px;
  }
  .story-copy p {
      margin-top: 25px;
  }
  .present-image, .present-copy {
    width: 100%;
  }
  .present-section {
      padding: 0 30px;
  }
  .present-image {
      order: 2;
      margin: 30px 0;
  }
  .present-copy span {
      font-size: 24px;
  }
  .future-section .present-copy {
      padding: 35px 0 0;
  }
  .story-section.future-section {
      margin-bottom: 30px;
  }
  .blogImage {
      width: 100%;
  }
  .blogCol-blue {
      width: 100%;
      margin: 10px 0;
  }
  .blogCol-pink {
      width: 100%;
      margin: 10px 0;
  }
  .blogCol-blue .blogCopy-wrap {
      width: 100%;
      padding-left: 0;
      margin-top: 20px;
  }
  .blogCopy p {
      margin-bottom: 10px;
  }
  .blogImage img {
      max-height: 350px;
      object-fit: cover;
      object-position: center;
  }
  .pagination-wrapper {
      margin-top: 0 !important;
  }
  .login-image, .login-form-wrap {
    width: 100%;
  }
  .login-wrapper {
      flex-wrap: wrap;
  }
  .login-image {
      order: 2;
      max-height: 400px;
  }
  .login-form-wrap {
      padding-bottom: 20px;
  }
  .grid__item.product__media-wrapper.productSlider-col {
    width: 100% !important;
  }
  .product__info-wrapper.grid__item.productSlider-detail {
      width: 100% !important;
      margin-top: 20px;
  }
  .prodSlider .single-product-image {
    padding-top: 0;
  }
  .product__info-container .title-price__wrapper {
    flex-direction: column;
  }
  .our-bavareges.product-featuress {
    padding-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .submenu-tog {
    display: block;
  }
  .has-submenu>ul {
    position: relative;
    width: 100%;
    visibility: visible;
    opacity: 1;
    display: none;
}
  .footer-leftCol {
    width: 100%;
    margin-bottom: 30px;
  }
.search-modal__content.search-modal__content-bottom {
    padding: 0 10px;
}
.predictive-wrapper {
    margin-top: 25px;
}

.modal__close-button.link {
    height: unset;
    width: unset;
    margin-left: 7px;
    margin-top: 4px;
}
form.search.search-modal__form input {
    padding: 9px 10px !important;
}
  .ft-linksCol {
      width: 48%;
      margin-top: 20px;
  }
  .ft-linksCol>span {
      margin-bottom: 10px;
  }
  .footer-wrap h6 {
      margin-bottom: 14px;
  }
  .ft-linksCol a {
      font-size: 14px;
  }
  .footer-wrap {
      padding-top: 40px;
  }
  .drink-options {
    position: static;
  }
  .find-taste {
      max-width: 100%;
      padding: 20px 0 30px;
      background: #fff;
      margin-bottom: 150px;
  }
  section.find-section > .container {
      background: #fff;
  }
  .single-drink img {
      max-width: 200px;
  }
  .single-drink {
      left: 0;
  }
  .drink-options {
      justify-content: center !important;
  }
  .drink-options .owl-item {
      justify-content: center;
  }
  .drink-options .owl-nav {
      bottom: 20px;
      left: 0 !important;
      right: 0;
      margin: 0 auto;
      width: 120px;
  }
  .drink-options .owl-dots {
      bottom: 25px;
      margin: 0 auto;
      left: 0 !important;
      justify-content: center;
      display: flex;
      width: 100%;
  }
  .site-logo img {
    max-width: 110px;
  }
  .cartBtn span {
      display: none;
  }
  .cartBtn {
      min-width: unset;
      padding: 0;
      background: none;
  }
  .cartBtn svg path {
      fill: #495057;
  }
  .cartBtn svg {
      margin-right: 0;
  }
  .header__icon, .header__icon--cart .icon {
      height: unset;
      width: unset;
  }
  .searchBtn svg {
      max-width: 18px;
      position: relative;
      top: 2px;
  }
  .userBtn {
      margin: 0 10px 0 6px;
  }
  .marquee-wrap {
    padding: 20px 0 28px;
  }
  .marquee-wrap span {
      font-size: 36px;
  }
  .find-taste form {
      margin-top: 10px;
  }
  .find-taste h2 {
      margin-bottom: 5px;
  }
  .find-section {
      padding-bottom: 50px;
  }
  .shopImage {
      width: 100%;
      padding: 0 20px;
      margin-bottom: 50px;
  }
  .shop-content {
      width: 100%;
  }
  h2 {
      font-size: 25px;
  }
  .shop-content p br {display: none;}
  .shop-content p {
      margin: 12px 0;
  }
  .shop-content h2 br {
      display: none;
  }
  .shop-content li {
      font-size: 16px;
  }
  .shop-content ul {
      margin-bottom: 20px;
  }
  .products-inner-tabs .nav-link {
      min-width: 90px;
      font-size: 14px;
      padding: 10px 0 !important;
      font-size: 12px;
  }
  .product-tabs-header .nav-link {
      font-size: 16px;
  }
  .products-inner-tabs {
      margin-bottom: 40px;
  }
  .quick-add.no-js-hidden {
      margin-bottom: 0;
  }
  .product-descriptions {
    width: 100%;
  }
  .product-desc-image {
    width: 100%;
    margin-top: 20px;
  }
  .product-desc-wrap .tab_outer {
    max-width: 100%;
  }
  .product-desc-wrap .accordion_head p {
    font-size: 20px;
  }
  .pair-marquee {
    padding: 0 0 30px;
  }
  .bavareges-image {
    width: 100%;
  }
  .bavareges-text {
    width: 100%;
    margin-top: 30px;
  }
  .our-bavareges {
      padding-bottom: 40px;
  }
  .sip-section {
      padding: 30px 0;
  }
  .sip-header p br {
      display: none;
  }
  .sip-header {
      margin-bottom: 20px;
  }
  .testimonials-section {
      margin-top: 20px;
  }
  .testimonials-single {padding: 15px;}
  .testimonials-single p {
      margin: 15px 0 20px;
  }
  .subscription-section {
    margin: 20px 0 0;
    padding-top: 305px;
    padding-bottom: 30px;
  }
  .subscription-image {
     max-width: 76%;
  }
  .subscription-image.img2 {
    bottom: unset;
    position: absolute;
    top: 120px;
    right: 0;
    max-width: 170px;
    left: unset;
  }
  .subscription-content {
    margin-left: 0;
  }
  .subscription-content h3 br {
      display: none;
  }
  .subscription-content {
      max-width: 100%;
  }
  .newsletter-text span {
    font-size: 16px;
  }
  .newsletter-text span br {
      display: none;
  }
  .sip-content a img {
    max-width: 45px;
  }
  .seenIn {
    width: 150px;
  }
  .site-menu li a {
    padding: 0 15px;
  }
  .sip-content > img {
    min-height: 260px;
    object-fit: cover;
  }
  .faq-content h1 {
    font-size: 32px;
  }
  .faq-banner {
      padding: 150px 0 50px;
  }
  p {
      line-height: 1.4;
  }
  .contactPage-section {
      padding: 40px 0;
  }
  .contact-col {
      width: 100%;
  }
  .contact-row {
      flex-direction: column-reverse;
  }
  .contact-image {
      margin-top: 40px;
  }
  .contact-col h2 {
      font-size: 22px;
      margin-bottom: 5px;
  }
  .field input, .field textarea {
      padding: 14px 12px;
  }
  .field {
      margin-bottom: 8px;
  }
  .field-btn {
      margin-top: 20px;
  }
  .field-btn button {
      padding: 15px;
  }
  .contact-social h3 {
      font-size: 24px;
      margin-bottom: 10px;
  }
  .aboutBanner-copy, .aboutBanner-image {
    width: 100%;
  }
  .aboutUs-banner {
      padding-top: 80px;
  }
  .aboutBanner-copy h1 {
      font-size: 26px;
      margin-bottom: 10px;
  }
  .aboutBanner-copy h1 br {
      display: none;
  }
  .aboutBanner-copy p {
      font-size: 16px;
  }
  .story-section.space-left {
      margin: 40px 0;
  }
  h4 {
      font-size: 20px;
  }
  .story-copy span {
      font-size: 18px;
  }
  .story-copy p {
      margin-top: 10px;
      font-size: 16px;
  }
  .present-copy span {
      font-size: 20px;
  }
  .present-copy h2 {
      margin-bottom: 10px;
  }
  .present-image {
      margin: 10px 0 20px;
  }
  .taste-options .single-bavarage {
      width: 50%;
  }
  .taste-section {
      padding: 40px 0;
  }
  .future-section .present-copy {
      padding-top: 0;
  }
  .flavor-iamge {
    width: 100%;
  }
  .flavor-details {
      width: 100%;
      margin-left: 0;
  }
  .flavor-iamge img {
    max-height: 350px;
    object-fit: cover;
  }
  .flavor-item {
      padding: 15px;
  }
  .flavor-item h4 {
      font-size: 20px;
      margin-bottom: 10px;
  }
  .flavor-item p {
      margin-bottom: 10px;
  }
  .flavor-item li {
      margin-bottom: 6px;
  }
  .slider-counter {
      margin-left: 0;
  }
  .flavor-tabs-header a {
      font-size: 20px;
  }
  .flavor-tabs-header.appointment-tabs {
      margin-top: 20px;
      width: 100%;
  }
  .prodHead.flex {
      margin-bottom: 40px;
  }
  .flavor-tabs-header.appointment-tabs nav {
      width: 100%;
  }
  .blog-area.full-size {
    padding: 20px;
  }
  .blog-row {
      margin-top: 0;
  }
  .blog-image {
      width: 100%;
      margin-bottom: 20px;
  }
  .blog-copy {
      width: 100%;
  }
  .blogCopy h4 {
      font-size: 18px;
  }
  .blog-copy a, .blogCopy-wrap a {
      font-size: 16px;
      margin-top: 12px;
  }
  .blogCol-blue, .blogCol-pink {
      padding: 14px;
  }
  .newsCopy h1 {
    font-size: 30px;
    margin-top: 5px;
  }
  .blog-headings {
      margin-top: 20px;
  }
  .blog-detail-banner {
    padding-top: 50px;
  }
  .detailCopy h4 {
      font-size: 19px;
  }
  .detailCopy span {
      font-size: 14px;
  }
  .detailCopy {
      width: 100%;
      margin-bottom: 10px;
  }
  .detailImage {
      max-width: 70%;
      margin: 0 auto;
  }
  .blog-desc-col {
      width: 100%;
  }
  .navigation-wrap.flex.ai-center.jc-sb {
      padding: 20px 0;
  }
  .navigation-wrap a>span {
      height: 25px;
      width: 25px;
  }
  .navigation-wrap a>span svg {
      max-width: 14px;
  }
  .navPost-desc span {
      font-size: 12px;
  }
  .navigation-wrap a h4 {
      font-size: 14px;
  }
  .navPost-desc {
      width: calc(100% - 25px);
      padding-left: 8px;
  }
  .navigation-wrap a {
      width: 48%;
  }
  .next-post .navPost-desc {
      padding-right: 8px;
  }
  .recent-blogs {
      width: 100%;
      margin-bottom: 40px;
  }
  .recent-blogs li a {
      font-size: 13px;
  }
  .recent-blogs li:not(:last-child) {
      padding-bottom: 15px;
      margin=b: 1;
  }
  div#comments h2 {
      font-size: 22px;
      margin-bottom: 20px;
  }
  .article-image-wrap>svg, .article-image-wrap>img {
      height: 35px;
      width: 35px;
  }
  .article-content-wrap {
      padding: 14px;
  }
  .cont-inner h3 {
      font-size: 16px;
  }
  .cont-inner>p {
      margin: 4px 0;
      font-size: 12px;
  }
  .comment-content p {
      font-size: 14px;
  }
  form#comment_form {
      margin-top: 30px;
  }
  form#comment_form .article-template__comment-fields .field {
      width: 100%;
      margin-bottom: 15px;
  }
  form#comment_form .field__label {
      margin-bottom: 2px;
  }
  form#comment_form .siteBtn {
      width: 100%;
  }
  .blog-description {
      margin-bottom: 40px;
  }
  .blog-detail-banner {
    padding-top: 0;
  }
  .recent-blogs h4 {
    font-size: 20px;
  }
  .login-form-wrap {
    padding: 20px 0 20px;
  }
  h1#login {
      font-size: 22px;
      margin-bottom: 20px;
  }
  .h_google_button {
      height: 42px !important;
  }
  form#customer_login .field input {
      padding: 10px !important;
  }
  #customer_login .siteBtn {
      padding: 15px 45px;
  }
  div#rc_login h5 {
      font-size: 12px;
  }
  div#rc_login p a {font-size: 13px;}
  .login-image {
      margin-bottom: 30px;
  }
  .faq-sidebar {
    width: 100%;
    margin-bottom: 40px;
  }
  .faq-tab-content {
      width: 100%;
  }
  .faq-list .accordion_head {
      padding: 10px 15px;
  }
  .faq-list .accordion_body {
      padding: 0 15px 15px 15px;
  }
  .contact-ft {
      padding: 20px;
  }
  .contact-ft p {
      font-size: 14px;
      margin-bottom: 20px;
  }
  .contact-ft a {
      width: 100%;
      padding: 12px;
  }
  .contact-here {
      padding-bottom: 30px;
  }
  .faq-banner.subscription {
    padding: 140px 0 50px;
  }
  .faq-content h1 {
      font-size: 27px;
  }
  .plan-wrap {
      width: 100%;
  }
  .plan-wrap.standard.essentials {
      margin: 20px 0;
  }
  .plans-section {
      padding: 40px 0;
  }
  .plan-prices h3 {
      font-size: 20px;
  }
  .plan-prices h4 {
      font-size: 14px;
  }
  .plan-features li {
      font-size: 14px;
  }
  .product__info-container .title-price__wrapper {
    flex-direction: column;
  }
  .product__title h1, .product__info-container .price__container span, .spr-header-title {
      font-size: 18px;
  }
  .product__description.rte.quick-add-hidden {
        margin: 5px 0 15px;
      font-size: 16px;
  }
  .product__info-wrapper.grid__item.productSlider-detail {
      padding: 15px;
  }
  .quantity-add__wrapper .product-form__input {
    max-width: 100%;
  }
  .quantity-add__wrapper {
      flex-wrap: wrap;
  }
  .add_wrapper {
      width: 100%;
      margin-top: 10px;
  }
  #shopify-product-reviews .spr-header h2 {
      font-size: 18px;
      width: 100%;
      margin-bottom: 14px;
  }
  #shopify-product-reviews .spr-header {
      flex-wrap: wrap;
  }
  .spr-summary.rte {
      width: 100%;
      justify-content: space-between;
  }
  .spr-container {
      padding: 12px;
  }
  .spr-summary-actions-newreview {
      font-size: 14px;
  }
  .spr-summary-caption {
      font-size: 13px;
  }
  .our-bavareges.product-featuress {
    padding: 30px 0;
  }
  .product-bavarages-text .single-bavarage {
      width: 50%;
      margin-top: 25px;
  }
  .bavareges-text.product-bavarages-text {
      margin-top: 0;
  }
  .cans-image {
    width: 100%;
    margin-bottom: 40px;
  }
  .cans-copy {
      width: 100%;
  }
  .cans-section {
      background: linear-gradient(to bottom,#DEEBF6 100%,#F6F6F6 0);
      margin-bottom: 1px;
  }
}
