@media screen and (min-width: 1440px) {
  .container {
    max-width: 1370px;
  }
}

@media screen and (min-width: 1279px) and (max-width: 1439px) {
  .container {
    max-width: 1240px;
  }
}
@media screen and (max-width: 1439px) {
  h2 {
    font-size: 30px;
  }
  .product-desc-wrap .accordion_head p {
    font-size: 30px;
  }
  .product-desc-wrap .tab_outer {
      margin-bottom: 30px;
  }
  .marquee-wrap span {
      font-size: 60px;
  }
  .find-section {
    padding-bottom: 100px;
  }
  .single-drink img {
    max-width: 340px;
  }
  .drink-options {
      top: 40px;
  }
  .drink-options .owl-nav {
      bottom: 20px;
  }
  .drink-options .owl-dots {
      bottom: 18px;
  }
}

@media screen and (max-width: 1280px) {
  .subscription-image {
    max-width: 550px;
    top: -180px;
  }
  .subscription-image.img2 {
    max-width: 250px;
    left: 27%;
    top: -135px;
  }
}

@media screen and (max-width: 1199px) {
  .site-logo img {
    max-width: 170px;
  }
  .site-menu li {
      margin-right: 17px;
  }
  .searchBtn {
      margin-right: 6px;
  }
  .userBtn {
      margin-right: 6px;
  }
  .find-taste {
    max-width: 300px;
    padding-top: 80px;
  }
  h2 {
      font-size: 27px;
  }
  h4 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  .single-drink img {
      max-width: 300px;
  }
  .drink-options {
      top: 40px;
  }
  .shop-section {
      margin: 40px 0;
  }
  .product-desc-wrap .accordion_head p {
    font-size: 25px;
  }
  .marquee-wrap span {
    font-size: 50px;
  }
  .bavereges-row.flex {
      align-items: center;
  }
  .subscription-image {
      max-width: 435px;
      top: -50px;
  }
  .subscription-content {
      max-width: 450px;
  }
  .subscription-image.img2 {
      left: 22%;
      top: 20px;
  }
  .subscription-section {
      padding-bottom: 60px;
      margin-top: 80px;
  }
}

@media screen and (max-width: 991px) {
   .site-logo img {
      max-width: 150px;
   }
  .drink-options {
      right: 0;
      justify-content: flex-end !important;
      margin-top: -170px;
  }
  .drink-options .owl-item {
    justify-content: end;
  }
  .single-drink {
    position: relative;
    left: -50px;
  }
  .single-drink {
    position: relative;
    left: -50px;
  }
  .brands-section .marquee-wrap {
      max-width: 100%;
      margin-left: 20px;
  }
  .product-desc-wrap .accordion_head p {
    font-size: 22px;
    line-height: 1.6;
}
.product-desc-wrap .tab_outer {
    margin-bottom: 20px;
}
.bavareges-text {
    width: 50%;
}
.bavareges-image {
    width: 48%;
}
.bavareges-text img {
    max-width: 28px;
}
.single-bavarage span {
    font-size: 14px;
}
.single-bavarage {
    margin-top: 30px;
}
.our-bavareges {
    padding-top: 0;
}
.subscription-image {
    max-width: 340px;
    top: 0;
}
.subscription-content {
    max-width: 300px;
}
.subscription-image.img2 {
    left: 17%;
    top: 50px;
}
.marquee-wrap span {
    font-size: 42px;
}
.subscription-content p {
    font-size: 16px;
    margin-bottom: 15px;
}
.newsletter-form {
    width: 100%;
}
.email-field {
    width: 100%;
}
.contact-form {
    margin-top: 20px;
}
.products-section {
    padding-bottom: 0;
}
.singleBrand {
    min-width: 150px;
    max-width: 150px;
}
.site-menu {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #A43772;
    z-index: 100;
    padding: 10px 0;
    display: none;
}
.site-menu li {
    display: block;
    margin: 10px 0;
}
.site-menu li a {
    color: #fff;
    display: block;
    padding: 0 40px;
}
  .subscription-section {padding: 30px 0 60px;}
.subscription-section .marquee-wrap {
    padding-bottom: 20px;
}
}

@media screen and (max-width: 767px) {
  .menu-toggler {
    display: block;
  }
  .footer-leftCol {
    width: 100%;
    margin-bottom: 30px;
  }
  .ft-linksCol {
      width: 48%;
      margin-top: 20px;
  }
  .ft-linksCol>span {
      margin-bottom: 10px;
  }
  .footer-wrap h6 {
      margin-bottom: 14px;
  }
  .ft-linksCol a {
      font-size: 14px;
  }
  .footer-wrap {
      padding-top: 40px;
  }
  .drink-options {
    position: static;
  }
  .find-taste {
      max-width: 100%;
      padding: 20px 0 30px;
      background: #fff;
      margin-bottom: 150px;
  }
  section.find-section > .container {
      background: #fff;
  }
  .single-drink img {
      max-width: 200px;
  }
  .single-drink {
      left: 0;
  }
  .drink-options {
      justify-content: center !important;
  }
  .drink-options .owl-item {
      justify-content: center;
  }
  .drink-options .owl-nav {
      bottom: 20px;
      left: 0 !important;
      right: 0;
      margin: 0 auto;
      width: 120px;
  }
  .drink-options .owl-dots {
      bottom: 25px;
      margin: 0 auto;
      left: 0 !important;
      justify-content: center;
      display: flex;
      width: 100%;
  }
  .site-logo img {
    max-width: 110px;
  }
  .cartBtn span {
      display: none;
  }
  .cartBtn {
      min-width: unset;
      padding: 0;
      background: none;
  }
  .cartBtn svg path {
      fill: #495057;
  }
  .cartBtn svg {
      margin-right: 0;
  }
  .header__icon, .header__icon--cart .icon {
      height: unset;
      width: unset;
  }
  .searchBtn svg {
      max-width: 18px;
      position: relative;
      top: 2px;
  }
  .userBtn {
      margin: 0 10px 0 6px;
  }
  .marquee-wrap {
    padding: 20px 0 28px;
  }
  .marquee-wrap span {
      font-size: 36px;
  }
  .find-taste form {
      margin-top: 10px;
  }
  .find-taste h2 {
      margin-bottom: 5px;
  }
  .find-section {
      padding-bottom: 50px;
  }
  .shopImage {
      width: 100%;
      padding: 0 20px;
      margin-bottom: 50px;
  }
  .shop-content {
      width: 100%;
  }
  h2 {
      font-size: 25px;
  }
  .shop-content p br {display: none;}
  .shop-content p {
      margin: 12px 0;
  }
  .shop-content h2 br {
      display: none;
  }
  .shop-content li {
      font-size: 16px;
  }
  .shop-content ul {
      margin-bottom: 20px;
  }
  .products-inner-tabs .nav-link {
      min-width: 90px;
      font-size: 14px;
      padding: 10px 0 !important;
      font-size: 12px;
  }
  .product-tabs-header .nav-link {
      font-size: 16px;
  }
  .products-inner-tabs {
      margin-bottom: 40px;
  }
  .quick-add.no-js-hidden {
      margin-bottom: 0;
  }
  .product-descriptions {
    width: 100%;
  }
  .product-desc-image {
    width: 100%;
    margin-top: 20px;
  }
  .product-desc-wrap .tab_outer {
    max-width: 100%;
  }
  .product-desc-wrap .accordion_head p {
    font-size: 20px;
  }
  .pair-marquee {
    padding: 0 0 30px;
  }
  .bavareges-image {
    width: 100%;
  }
  .bavareges-text {
    width: 100%;
    margin-top: 30px;
  }
  .our-bavareges {
      padding-bottom: 40px;
  }
  .sip-section {
      padding: 30px 0;
  }
  .sip-header p br {
      display: none;
  }
  .sip-header {
      margin-bottom: 20px;
  }
  .testimonials-section {
      margin-top: 20px;
  }
  .testimonials-single {padding: 15px;}
  .testimonials-single p {
      margin: 15px 0 20px;
  }
  .subscription-section {
      margin: 20px 0 40px;
    padding-top: 305px;
    padding-bottom: 30px;
  }
  .subscription-image {
     max-width: 76%;
  }
  .subscription-image.img2 {
    bottom: unset;
    position: absolute;
    top: 120px;
    right: 0;
    max-width: 170px;
    left: unset;
  }
  .subscription-content {
    margin-left: 0;
  }
  .subscription-content h3 br {
      display: none;
  }
  .subscription-content {
      max-width: 100%;
  }
  .newsletter-text span {
    font-size: 16px;
  }
  .newsletter-text span br {
      display: none;
  }
  .sip-content a img {
    max-width: 55px;
  }
  .seenIn {
    width: 150px;
  }
  .site-menu li a {
    padding: 0 15px;
  }
  .menu-toggler.active span:nth-child(2) {
    opacity: 0;
  }
  .menu-toggler.active span:nth-child(3) {
      top: 8px;
      transform: rotate(-45deg);
  }
  .menu-toggler.active span:first-child {
      top: 8px;
      transform: rotate(45deg);
  }
}





