@media screen and (min-width: 1440px) {
  .container {
    max-width: 1370px;
  }
}

@media screen and (min-width: 1279px) and (max-width: 1439px) {
  .container {
    max-width: 1240px;
  }
}
@media screen and (max-width: 1439px) {
  h2 {
    font-size: 30px;
  }
  .product-desc-wrap .accordion_head p {
    font-size: 30px;
  }
  .product-desc-wrap .tab_outer {
      margin-bottom: 30px;
  }
  .marquee-wrap span {
      font-size: 60px;
  }
  .find-section {
    padding-bottom: 100px;
  }
  .single-drink img {
    max-width: 340px;
  }
  .drink-options {
      top: 40px;
  }
  .drink-options .owl-nav {
      bottom: 20px;
  }
  .drink-options .owl-dots {
      bottom: 18px;
  }
}

@media screen and (max-width: 1280px) {
  .subscription-image {
    max-width: 550px;
    top: -180px;
  }
  .subscription-image.img2 {
    max-width: 250px;
    left: 27%;
    top: -135px;
  }
}