* {
    box-sizing:border-box;
  }
  .clearfix:before,
  .clearfix:after {
    content: "";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  .vertical-tabs:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -1px;
    z-index: 1;
    border: 1px solid black;
  }
  .vertical-tabs:after {
    content: "";
    display: table;
    clear: both;
  }
  .vertical-tabs {
    position: relative;
    margin-left: 200px;
  }
  .tabs {
    position: relative;
    float: left;
    width: 200px;
    padding-left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -200px;
  }
  .tabs li {
    position: relative;
    list-style: none;
  }
  .tabs li:after {
    content: "";
    display: table;
    clear: both;
  }
  .tabs li a {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    border-right: 1px  solid black;
  }
  .tabs li.active a {
    z-index: 2;
    border: 1px solid black;
    border-right: 1px solid white;
  }
  .tabs-content .content {
    display: none;
    padding: 10px;
  }
  .tabs-content .content.active {
    display: block;
  }