.cart-count-bubble{
    position: static;
}

.form-status.form-status-list.form__message {
    font-size: 16px;
}

.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.login-image {
    width: 50%;
}

.login-form-wrap {
    width: 50%;
}

@media screen and (min-width: 750px){
.customer:not(.account):not(.order) {
    max-width: 100%;
}
}
